*{padding: 0px; margin: 0px;}
/*  Background  */
header{
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    position: fixed;
    background-image: url(images/wallpaper0.jpg);
    background-size: cover;
}

/*  Desktop  */
.icons{
    display: flex;
}
.icons img{
    transition: filter 1s ease;
}

    /*  Left side Icon  */
.left-icon{
    padding-left: 5px;
}
.left-icon ul li{
    padding: 15px 10px;
    position: relative;
    margin-top: 15px;
    padding: 7px;
}
.left-icon ul li:hover{
    background-color: rgba(0, 0, 0, 0.149) ;
    text-shadow: 0px 0px 1px #ffffffda;
    cursor: pointer;
}
#mycomputer{
    width: 50px;
    position: relative;
    padding: 0 9px;
}
#mycomputer-name{
    position: relative;
    color: #fff;
    font-size: 12px;
    font-family: Segoe UI;
}
#mydocuments{
    width: 45px;
    position: relative;
    padding: 0 15px;
}
#mydocuments-name{
    position: relative;
    color: #fff;
    font-size: 12px;
    font-family: Segoe UI;
}
#explorer{
    width: 45px;
    position: relative;
    padding: 0 12px;
}
#explorer-name{
    position: relative;
    color: #fff;
    font-size: 12px;
    font-family: Segoe UI;
    padding-left: 12px;
}

    /*  Right side Icons    */
.right-icon{
    display: block;
    padding: 40% 0 0 86%;
}
.right-icon ul li{
    position: relative;
    list-style-type: none;
}
.right-icon ul li:hover{
    background-color: rgba(0, 0, 0, 0.149);
    text-shadow: 0px 0px 1px #ffffffda;
    cursor: pointer;
}
#binon{
    width: 45px;
    position: relative;
    padding-left: 4px;
}
#binon-name{
    position: relative;
    color: #fff;
    font-size: 12px;
    font-family: Segoe UI;
}

/*  Taskbar */
.taskbar{
    width: 100%;
    height: 32px;
    background-image: linear-gradient(rgb(55, 19, 216), #315af0);
    position: fixed;
    display: flex;
    bottom: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0px -1.5px 1px #1aa1fc;
}

/*  Left Section  */
.start{
    width: 6.8%;
    height: 32px;
    background-image: linear-gradient(#2a8d35 5%, #299332 50%, #206d29 95%);
    margin: 0px;
    border-top-right-radius: 20px 90%;
    border-bottom-right-radius: 20px 90%;
}
.start:hover{
    background-image: linear-gradient(#206d29 5%, #319f3b 50%, #2a8d35 95%);
    cursor: pointer;
}
.start img{
    position: absolute;
    width: 1.5%;
    padding: 5.5px 7px;
    text-shadow: 10px 100px black;
    text-shadow: 0px 0px 10px #fff;
}
.start p{
    color: #e1e1e1;
    padding: 6.6px 36px;
    font-size: 17px;
    text-shadow: 0.5px 0.5px black;
    font-style: italic;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-shadow: 0px 0px 30px #fff;
}
.start p:hover{
    text-shadow: 0px 0px 2px #ffffff6c;
}

/*   Middle Section */
.taskbar-icons{
    width: 80.2%;
    height: 35px;
    background-image: linear-gradient(rgb(55, 19, 216), #315af0);
    margin: 0px;
}
.mycomputer-taskbar{
    width: 14%;
    height: 25px;
    margin: 3px 10px;
    background-image: linear-gradient(#2240a3,#012ed1);
    border: 1px solid #1102748f;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #020069;
}
.mycomputer-taskbar:hover{
    cursor: pointer;
}
.mycomputer-taskbar ul{
    display: flex;
}
.mycomputer-taskbar ul li{
    list-style-type: none;
}
.mycomputer-taskbar img{
    width: 20px;
    padding: 3px 0px 3px 10px;
}
.mycomputer-taskbar p{
    font-family: sans-serif;
    font-size: 13px;
    padding: 5px 4px;
    color: #ffffffd8;
    text-shadow: 0 0 2px #ffffff4f;
}

/*  Right Section  */
.time-date{
    width: 13%;
    height: 35px;
    background-image: linear-gradient(#1aa1fc, #679cff);
    margin: 0px;
    text-shadow: 10px 100px black;
    display: flex;
}
.time-date p{
    color: #fff;
    font-family:sans-serif;
    padding: 6px 5px;
    font-size: 12px;
    text-shadow: 0px 0px 15px #fff;
}
#realClock{
    color: #fff;
    font-family:sans-serif;
    padding: 6px 5px;
    font-size: 12px;
    text-shadow: 0px 0px 15px #fff;
}
#eng{padding-left: 10px;}
#eng:hover{cursor: pointer;}

.time-date img{
    padding: 5px 5px;
}
#wifi-logo{width: 20px; height: 20px; padding: 5px 3px; padding-left: 4px; text-shadow: 0px 0px 5px #fff;}
#wifi-logo:hover{background-color: rgba(0, 0, 0, 0.09); }
#avast-logo{width: 17px; height: 17px; text-shadow: 0px 0px 5px #fff;}
#avast-logo:hover{background-color: rgba(0, 0, 0, 0.09); }
#sound-logo{width: 20px; height: 20px; padding: 5px 5px; text-shadow: 0px 0px 5px #fff;}
#sound-logo:hover{background-color: rgba(0, 0, 0, 0.09);}


/* Shutdown Box */
.shutdown-box{
    width: 30vw;
    height: 29vh;
    position: absolute;
    background-color: #003399;
    margin: -45vh 0 0 37vw;
    font-family: sans-serif;
    border: 2px solid #191919;
}

.sb-title-row{
    display: flex;
    padding: 8px 0px 8px 8px;
}
.sb-title{
    font-size: 23px;
    color: #fff;
    margin: 0.7vh 0 0 0.8vw;
}
.sb-title-logo{
    width: 3vw;
    margin: 0 0 0 12.6vw;
}
.sb-title-logo-text{
    color: #6c89fc;
    font-size: 8px;
    margin-top: 4vh;
    margin-left: -0.35vw;

}

.sb-divide-row{
    background-image: linear-gradient(to right, #003399, #c6d8ff, #003399);
    height: 2px;
}

.sb-main-row{
    display: flex;
    background-image: linear-gradient(to right, #5b7dde, #99b7f5, #698be4);
}
.sb-main-subbox{
    margin: 4.2vh 0 4.2vh 5.2vw;
}
.sb-main-subbox img{
    width: 2.9vw;
    border-radius: 5px;
    border-color: #fff;
    box-shadow: 0 0 2px #fff;
}
.sb-main-subbox img:hover{
    cursor: pointer;
}
.sb-main-subbox p{
    color: #fff;
    font-weight: 100;
    font-size: 13px;
    text-shadow: 0 0 2px #fff;
}
.sb-main-subbox p:hover{
    cursor: pointer;
}

.sb-last-btn{
    margin: 1.5vh 0 0 24vw;
    text-shadow: 0 0 2px #fff;
    padding: 3px 15px;
    font-size: 14px;
    box-shadow: 1px 1px 1px #000000b9;
    background-color: #f4e8e5;
}
.sb-last-btn:hover{
    cursor: pointer;
}
.shutdown-gray-screen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #e9e9e965;
    top: 0;
    filter: grayscale(100%)
;}
